*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f7fb;
    color:#222;
}

/* NAVBAR */

nav{
    background:#111827;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

nav ul{
    display:flex;
    list-style:none;
}

nav li{
    margin-left:25px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#3b82f6;
}

/* HERO */

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    max-width:800px;
    margin:15px auto;
    font-size:18px;
    line-height:1.6;
}

/* BUTTON */

.btn{
    display:inline-block;
    margin-top:25px;
    background:#2563eb;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
    transition:.3s;
}

.btn:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}

/* SKILLS */

.skills{
    padding:60px 10%;
    text-align:center;
}

.skills h2{
    margin-bottom:30px;
}

.skill-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.skill-card{
    background:white;
    padding:20px 40px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
    font-weight:bold;
}

/* PROJECTS */

.title{
    text-align:center;
    margin:40px 0;
}

.projects-grid{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
    padding-bottom:50px;
}

.project-card{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.project-card:hover{
    transform:translateY(-5px);
}

.project-card h2{
    margin-bottom:15px;
}

.project-card p{
    margin-bottom:15px;
    line-height:1.5;
}

.project-card ul{
    margin-left:20px;
    margin-bottom:20px;
}

/* CONTACT */

.contact{
    text-align:center;
    padding:100px 20px;
}

.contact-card{
    background:white;
    max-width:600px;
    margin:auto;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
}

.contact-card p{
    margin:15px 0;
    font-size:18px;
}
